<div class="user-profile-container">
    <H1>{{ title }}</H1>
    <p-divider />
    <form #UserForm="ngForm">
        @for(claim of UserClaims; track claim.ClaimType.typeName ) {
        <div>
            <label [for]="claim.ClaimType.typeName" class="form-label form-element">{{claim.ClaimType.typeShortName}}</label>
            <input type="text" pInputText [id]="claim.ClaimType.typeName" [value]="claim.Value" disabled />
            <p-button type="button" (click)="UpdateSelected(claim)">Update</p-button>
        </div>
        }
        <div class="row form-element">
            <p-button (click)="ShowAddClaimDialog(true)" label="New" />
        </div>
    </form>
</div>


        <!--<div class="modal fade" #UpdateClaimModal id="updateModal" tabindex="-1" aria-labelledby="UpdateModalLabel" aria-hidden="true" >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="UpdateModalLabel">Update Claim</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <label for="claim-value" class="col-form-label">{{UserClaimSelected.shortTypeName}}</label>
                    <input type="text" class="form-control" id="claim-value" name="claimValue" [(ngModel)]="UserClaimSelected.value"/>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closebtn" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="UpdateClaim()">Update</button>
              </div>
            </div>
          </div>
        </div>-->

@if(ClaimTypes$ | async){
<p-dialog header="Add Claim" [modal]="true" [(visible)]="isPopupAddClaimDialog" [contentStyle]="{'overflow-y': 'visible'}" [style]="{ width: '30rem' }">
    <form>
        <div>
            <p-select id="claim-type" name="claimtype" class="dialog-add-claim-input" placeholder="Select Claim Type" [filter]="true" [options]="ClaimTypes" optionLabel="typeShortName" [(ngModel)]="NewUserClaim.ClaimType" />
        </div>
        <div>
            <input type="text" id="claim-value-new" class="dialog-add-claim-input" placeholder="Input Claim Type" name="claimvaluenew" pInputText [(ngModel)]="NewUserClaim.Value" />
        </div>
        <div class="dialog-add-claim-sec-button">
            <p-button class="dialog-add-claim-button" (click)="AddClaim()" label="Add" />
            <p-button class="dialog-add-claim-button" label="Close" (click)="ShowAddClaimDialog(false)" />
        </div>
    </form>
</p-dialog>
}
<!--<div class="modal fade" #NewClaimModal id="NewModal" tabindex="-1" aria-labelledby="NewModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="NewModalLabel">New Claim</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
            <div class="mb-3">
            <label for="claim-type" class="col-form-label">Claim Type</label>
            <select class="form-select" id="claim-type" aria-label="Claim Type" name="claimtype" [(ngModel)]="NewUserClaim.typeName">
                <option *ngFor="let ClaimType of ClaimTypes" [ngValue]="ClaimType.typeName">{{ClaimType.typeShortName}}</option>
            </select>
            </div>
            <div class="mb-3">
            <label for="claim-value-new" class="col-form-label">Claim Value</label>
            <input class="form-control" id="claim-value-new" aria-label="Claim Value" name="claimvaluenew" [(ngModel)]="NewUserClaim.value" />
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="closebtn2" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="AddClaim()">Add</button>
      </div>
    </div>
  </div>
</div>-->

