.form-element{
    margin: 10px 5px 0px 5px;
}

.dialog-add-claim-input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dialog-add-claim-sec-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.dialog-add-claim-button {
    margin-left: 10px;
}
