<H1>{{ title }}</H1>
<form #UserForm="ngForm" (ngSubmit)="OnSubmit(UserForm)" class="row g-3" *ngIf="UserClaims">
  <div class="row form-element" *ngFor="let claim of UserClaims; let i = index">
    <label [for]="claim.type" class="form-label form-element">{{claim.type}}</label>
    <input type="text" class="form-control form-element" [id]="claim.type" [value]="claim.value"/>
  </div>
  <div class="row form-element">
    <button type="submit" class="btn btn-primary col col-3 form-element">Update</button>
    <button type="reset" class="btn btn-secondary col col-3 form-element">Cancel</button>
  </div>
</form>
