<H1>{{ title }}</H1>
<form #Login="ngForm" (ngSubmit)="OnSubmit(Login)">
  <div class="InputBoxContainer">
    <span class="p-float-label">
      <input type="text" id="UserName" name="userName" pInputText [(ngModel)]="loginRequest.username" />
      <label htmlFor="UserName">User Name</label>
    </span>
  </div>
  <div class="InputBoxContainer">
    <span class="p-float-label">
      <input type="password" id="Password" name="password" pInputText [(ngModel)]="password" />
      <label for="Password">Password</label>
    </span>
  </div>
  <div class="Button">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<div class="row">
  <h3>Login Status: {{loginMessage}}</h3>
</div>
